{% extends 'articles/base.html' %}
{% block body %}
<div class="jumbotron">
    <h1>CRUD</h1>
    {% if user.is_authenicated%}
    <a class="btn btn-success btn-lg mx-auto" href="{% url 'articles:create' %}" role="button">새 글</a>
    {% else %}
    <a class="btn btn-success btn-lg mx-auto" href="" role="button">새 글</a>
    {% endif %}
</div>
<div class="container">
  <ul class="list-group shadow">
    {% for article in articles %}
    <li class="list-group-item" style="background-color:rgb(34, 228, 163);">
      No.{{ article.id }}　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　_생성일:{{ article.created_at }}
    </li>
    <li class="list-group-item">
      <h3><a href="{% url 'articles:detail' article.pk %}"><b>{{ article.title }}</b></a></h3>
    </li>
    <li class="list-group-item bg-primary"><a href="{% url 'articles:detail' article.pk %}"><i class="far fa-eye">자세히 보러가기</i></a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}