<div class="fixed-bottom flex-nowrap">
    <div class="container mb-5 px-5">
      <div class="row small justify-content-between">
        <a href="">INSTAGRAM 정보</a>
        <a href="">지원</a>
        <a href="">홍보센터</a>
        <a href="">API</a>
        <a href="">채용 정보</a>
        <a href="">개인정보처리방침</a>
        <a href="">약관</a>
        <a href="">디렉터리</a>
        <a href="">프로필</a>
        <a href="">해시태그</a>
        <a href="">언어</a>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <a class="footer-copyright text-right text-muted mr-5">© 2019 INSTAGRAM FROM FACEBOOK</a>
      </div>
    </div>
  </div>